git+git://github.com/LeMyst/WikibaseIntegrator@v0.12.0rc1#egg=wikibaseintegrator
pydantic~=1.9.0
git+git://github.com/dpriskorn/OpenAlexAPI@0.0.1-alpha6#egg=openalexapi
pandas~=1.4.1
requests~=2.27.1
rich~=11.2.0
purl~=1.6
langdetect~=1.0.9